.holiday-container{
    width: 1200px;
    margin: 0 auto;
}
.holiday-card{
    border-radius: 10px;
    box-shadow: 0 3px 30px 0 rgba(0,0,0,.1);
    background-color: #fff;
    padding: 25px 40px 40px;
    min-height: 300px;
    margin-bottom: 40px;
    margin-top: 40px;

}
.holiday-card-title{
    display: flex;
    margin-bottom: 40px;
    padding: 0;
    outline: none;
    border: none;
    margin-right: 10px;
    flex-direction: column;
}
.holiday-item-card-wrapper{
    width: 270px;
    outline: none;
    display: inline-flex;
}
.single-item-card{
    width: 100%;
    display: inline-block;
    padding: 0;
    outline: none;
    border: none;
    margin-right: 10px;
    flex-direction: column;
}
.holiday-item-card{
    padding: 0 0 10px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.2);
    background-color: #fff;
    margin: 5px 10px 5px 2px;
}
.trending-img-wrap img{
    width: 248px;
    height: 129px;
    background-color: #f1f1f1;
}
.options-tag{
    background: #fff;
    border-radius: 10px;
    left: 65%;
    border: 1px solid #e7e7e7;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    padding: 2px 8px;
    position: relative;
    top: -10px;
    width: 85px;
}
.holiday-item-card-desc{
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.holiday-country{
    margin-bottom: 3px;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    color: #000;
}
.holiday-pkg{
    margin-bottom: 10px;
    font-weight: 700;
}
.pkg-amount{
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000;
}
.pkg-type{
    margin-bottom: 10px;
    font-weight: 700;
    color: #9b9b9b;;
}
.user-demand-info{
    font-weight: 700;
    color: #1a7971;
}
.user-demand-view{
    color: #d0021b;
}
@media screen and (max-width: 570px) {
    .holiday-card{
        padding: 0 14px;
        display: flex;
        flex-direction: column;
    }
    .holiday-container  {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    .holiday-card-title h1{
        text-align: center;
    }
    .holiday-card-title {
     margin-bottom: 0;
    }
    .holiday-item-card-wrapper{
        width: 100%;
    }
    .trending-img-wrap img {
        width: 100%;
        object-fit: cover;
    }
    .holiday-card{
        margin-bottom: 10px;
        margin-top: 10px;
    }

}
