.footer-wrapper{
    padding: 50px 0 60px;
    background: #f52f41;
    position: relative;
}
.footer-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
@media screen and (max-width: 570px) {
   .footer-info h1{
       font-size: 16px;
   }
    .footer-info h2{
        font-size: 14px;
    }
    .footer-wrapper{
        padding: 25px 0 30px;
    }
}
